/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/banner
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
CR Specifications Redesign 2023 Rev01 2023-05-10.pdf
